body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.vtu-details {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.vtu-details img {
    width: 200px;
    height: 200px;
}


.container {
    max-width: 600px;
    margin: 70px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 150px;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #0056b3;
}

#cgpaResult {
    margin-top: 20px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.vtu-details {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.vtu-details img {
    width: 100px;
    height: 100px;
}


.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 150px;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #0056b3;
}

#cgpaResult {
    margin-top: 20px;
}

@keyframes rotateLogo {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes slideInUp {
    0% { transform: translateY(50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes slideInLeft {
    0% { transform: translateX(-50px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight {
    0% { transform: translateX(50px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInDown {
    0% { transform: translateY(-50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

